{% extends 'base.html' %} {% block content %}
<form method="POST" action="/fridge/{{ingredient['id']}}">
    <h2>Edit ingredient</h2>
    <div class="input-container">
        <div>
            <label for="name">Name</label>
            <input
                class="input-field"
                id="name"
                name="name"
                type="text"
                value="{{ingredient['name']}}"
            />
        </div>
    </div>
    <div class="input-container">
        <div>
            <label for="purchased_date">purchased_date</label>
            <input
                class="input-field"
                id="purchased_date"
                name="purchased_date"
                type="date"
                value="{{ingredient['purchased_date']}}"
            />
        </div>
    </div>
    <div class="input-container">
        <div>
            <label for="expiry_date">Expiry Date</label>
            <input
                class="input-field"
                id="expiry_date"
                name="expiry_date"
                type="date"
                value="{{ingredient['expiry_date']}}"
            />
        </div>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
<br />
<form action="/fridge/{{ingredient['id']}}/delete" method="POST">
    <button class="btn btn-primary" type="submit">Delete</button>
</form>
{% endblock content %}
