{% extends "base.html" %} {% block content %}

<h1>Fridge Home</h1>

<div>
    <a href="/fridge/create">Add your ingredient</a>
</div>
<h3>They are ready to cook!</h3>
{#fridge_items#}
<section class="all-fridge">
    {% for ingredient in fridge_items %}
    <div class="fridge-items">
        <div class="info">
            <h2>{{ ingredient['name'] }}</h2>
            <a href="/fridge/{{ingredient['id']}}">Show</a>
            <a href="/fridge/{{ingredient['id']}}/edit">Edit</a>
        </div>
    </div>
    {% endfor %}
</section>
<section class="bin_items">
    <h3>They are expired!</h3>

    {#bin_items#} {% for waste in bin_items %}
    <div class="fridge-items">
        <div class="info">
            <h2>{{ waste['name'] }}</h2>

            <a href="/fridge/{{waste['id']}}">Show</a>
            <a href="/fridge/{{waste['id']}}/edit">Edit</a>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
