.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.login-btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.9;
}

.login-btn:hover {
    opacity: 1;
}

.bin_items {
    margin-top: 20px;
}

#body {
    margin: 20px;
}
