{% extends "base.html" %} {% block content %}

<div className="signup-login">
    <form action="/users" method="POST">
        <h2>Sign up</h2>
        <div>
            <div class="input-container">
                <label for="name"></label>
                <i class="fa fa-user icon"></i>
                <input
                    class="input-field"
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Username"
                />
            </div>
        </div>
        <div>
            <div class="input-container">
                <label for="email"></label>
                <i class="fa fa-envelope icon"></i>
                <input
                    class="input-field"
                    id="email"
                    name="email"
                    type="text"
                    placeholder="Email"
                />
            </div>
        </div>
        <div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <label for="password"></label>
                <input
                    class="input-field"
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Password"
                />
            </div>
        </div>
        <div>
            <button class="login-btn" type="submit">Sign up</button>
        </div>
    </form>
</div>

{% endblock content%}
